<div class="h-[100vh] p-xl bg-white">
  <div class="flex flex-col gap-md items-center" *ngIf="tokenValidationInprogress">
    <div class="text-md font-semibold pt-xl">Validating the request.....</div>
    <mat-spinner class="!w-[40px] !h-[40px]"></mat-spinner>
  </div>
  <div class="banner-danger" *ngIf="!tokenValidationInprogress && !isTokenValid">
    {{message}}
  </div>
  <div *ngIf="!tokenValidationInprogress && isTokenValid && !isPasswordChanged">
    <h3 class="text-md font-semibold">Create your new password: </h3>
    <div class="max-w-[350px]">
      <div class="flex flex-col gap-sm" [formGroup]="resetPassword">
        <div>
          <label class="text-sm">Password: </label>
          <input class="theme-input mt-xs" formControlName="password" autocomplete="off" type="password" placeholder="Enter your new password" />
          <div class="pt-xs text-red-dark text-xs" *ngIf="resetPassword.get('password').touched && resetPassword.get('password').errors">
            <div *ngIf="resetPassword.get('password').hasError('required')">Password is required.</div>
            <div *ngIf="resetPassword.get('password').hasError('pattern')">Enter password based on below password policy.</div>
          </div>
        </div>
        <div>
          <label class="text-sm">Confirm Password: </label>
          <input class="theme-input mt-xs" formControlName="confirmPassword" autocomplete="off" type="password" placeholder="Confirm your password" />
          <div class="pt-xs text-red-dark text-xs" *ngIf="resetPassword.get('confirmPassword').touched && resetPassword.get('confirmPassword').errors">
            <div *ngIf="resetPassword.get('confirmPassword').hasError('required')">Confirm Password is required.</div>
          </div>
          <div class="pt-xs text-red-dark text-xs" *ngIf="resetPassword.get('confirmPassword').touched && !resetPassword.get('confirmPassword').errors && confirmPassMismatch">
            <div>Your confirm password should match new password.</div>
          </div>
        </div>
      </div>
      <div class="pt-lg flex flex-col gap-md items-center">
        <div class="banner-danger w-full" *ngIf="changePasswordErrorMsg">
          {{changePasswordErrorMsg}}
        </div>
        <button class="secondary w-full justify-center" [disabled]="confirmPassMismatch || !resetPassword.valid" (click)="changePassword()">Resest Password</button>
        <button class="tertiary" (click)="goToLogin()">login</button>
      </div>
      <div class="py-lg">
        <h3 class="text-md font-semibold mb-sm">Password Policy:</h3>
        <ul class="text-sm font-semibold text-[#373b47] list-disc flex flex-col gap-[6px] ml-xl">
          <li>Password length should be 12 - 20 characters.</li>
          <li>Password should contain atleast one upper case letter and one lower case letter.</li>
          <li>Also, It should contain atleast one number and one special character.</li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="isPasswordChanged">
    <div class="text-md font-semibold text-black">
      Your password has been changed successfully click below to login.
      <button class="tertiary" (click)="goToLogin()">login...</button>
    </div>
  </div>
</div>
<!-- changePassword -->