<div class="p-xl min-w-[250px] w-[50ww] h-[250px] dark:bg-[#1b2b32] dark:border-2 dark:border-[#2D4048]">
  <div class="flex flex-col gap-sm">
    <div class="text-md font-semibold dark:text-white">You application has been submitted successfully.</div>
    <div class="text-md font-semibold dark:text-white">Our executive will contact within next 24hrs.</div>
    <div class="flex flex-col gap-xs justify-center items-center">
      <button class="tertiary !p-0 !h-[24px]" (click)="checkLoanStatus()">Check loan status</button>
      <button class="tertiary !p-0 !h-[24px]" (click)="submitAnotherRequest()">Apply one more loan</button>
    </div>
  </div>
</div>
