<div class="py-[36px]">
    <div class="flex flex-row justify-between gap-sm flex-wrap items-center">
      <span class="text-[26px] leading-[26px] font-[500] text-[#090d1b] dark:text-white">Rejected Orders</span>
      <div class="h-[32px] py-[10px] px-[12px] bg-[#e8edfa] w-fit flex items-center justify-center rounded-[4px] cursor-pointer gap-[8px] dark:bg-[#2D4048] dark:border-[1px] dark:border-solid dark:border-[#2FC0FF]" (click)="getRejectedOrders()">
        <div class="w-[12px] h-[12px]">
          <svg viewBox="0 0 36 36" class="dark:stroke-[#2FC0FF] dark:fill-[#2FC0FF] stroke-[#2054ff] fill-[#2054ff]" xmlns="http://www.w3.org/2000/svg"><path d="M22.4,11.65a1.09,1.09,0,0,0,1.09,1.09H34.43V1.81a1.09,1.09,0,1,0-2.19,0V8.95a16.41,16.41,0,1,0,1.47,15.86,1.12,1.12,0,0,0-2.05-.9,14.18,14.18,0,1,1-1.05-13.36H23.5A1.09,1.09,0,0,0,22.4,11.65Z"></path></svg>
        </div>
        <span class="text-[#2054ff] sm:text-[10px] md:text-[14px] font-[500] leading-[24px] dark:text-[#2FC0FF]">Refresh</span>
      </div>
    </div>
    <div class="md:mt-[24px] sm:mt-sm">
      <app-server-side-grid
        [config]="gridConfig"
        [isLoading]="gridLoading"
        (getFilters)="onGridAction($event)"
        (getSortValue)="onGridAction($event)"
        (getPreviousPage)="onGridAction($event)"
        (getNextPage)="onGridAction($event)"
        (getPageSize)="onGridAction($event)"
        (onGridRefresh)="onGridAction($event)"
      ></app-server-side-grid>
    </div>
  </div>