<div class="py-[36px]">
    <div class="h-[32px] py-[10px] px-[12px] bg-[#e8edfa] w-fit flex items-center justify-center rounded-[4px] mb-[14px] cursor-pointer dark:bg-[#2D4048] dark:border-[1px] dark:border-solid dark:border-[#2FC0FF]" (click)="back()">
      <span class="text-[#2054ff] text-[14px] font-[500] leading-[24px] dark:text-[#2FC0FF]">< Back</span>
    </div>
    <div class="flex flex-wrap justify-between sm:items-start md:items-center gap-[12px] sm:flex-col md:flex-row">
      
      <span class="text-[26px] w-fit leading-[26px] font-[500] text-[#090d1b] dark:text-white">
        Accepetd Client Detail
      </span>
      <div class="h-[32px] py-[10px] px-[12px] bg-[#e8edfa] w-fit flex items-center justify-center rounded-[4px] mb-[14px] cursor-pointer gap-[8px] dark:bg-[#2D4048] dark:border-[1px] dark:border-solid dark:border-[#2FC0FF]" (click)="refresh()">
        <div class="w-[12px] h-[12px]">
          <svg viewBox="0 0 36 36" class="dark:stroke-[#2FC0FF] dark:fill-[#2FC0FF] stroke-[#2054ff] fill-[#2054ff]" xmlns="http://www.w3.org/2000/svg"><path d="M22.4,11.65a1.09,1.09,0,0,0,1.09,1.09H34.43V1.81a1.09,1.09,0,1,0-2.19,0V8.95a16.41,16.41,0,1,0,1.47,15.86,1.12,1.12,0,0,0-2.05-.9,14.18,14.18,0,1,1-1.05-13.36H23.5A1.09,1.09,0,0,0,22.4,11.65Z"></path></svg>
        </div>
        <span class="text-[#2054ff] text-[14px] font-[500] leading-[24px] dark:text-[#2FC0FF]">Refresh</span>
      </div>
    </div>
    <div class="flex flex-col flex-wrap md:mt-[24px]">
      <div class="mb-4" *ngIf="!isLoanDetailsLoading && loanDetails?.documentLink">
        <div>Click the below link to download client document details.</div>
        <a class="text-blue-2 cursor-pointer" [href]="loanDetails.documentLink" target="_blank">Click here</a>
      </div>
      <app-button [button]="manageConfig" class="ml-[12px]" [matMenuTriggerFor]="menu"></app-button>
      <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
            <div class="flex flex-col gap-[8px] p-[14px] dark:bg-[#1B2B32]">
              <div
                class="flex flex-row gap-[4px] py-sm px-xs bg-slate-100 cursor-pointer text-sm hover:bg-slate-200 rounded justify-center"
                *ngFor="let action of actionList"
                (click)="openActionPopup(action)"
              >
                {{action}}
              </div>
            </div>
        </ng-template>
      </mat-menu>


      <div class="md:mt-[20px] lg:min-w-[420px]">
        <div class="border-[2px] h-full w-full border-solid border-[#e8edfa] sm:p-[12px] lg:p-[30px] rounded-[8px] card1" *ngIf="customerDetailsLoader">
          <div id="pause-grid-loader" class="flex items-center justify-center">
            <div id="spinner-grid-loader"></div>
          </div>
        </div>
        <div class="border-[2px] w-full border-solid border-[#e8edfa] sm:p-[12px] lg:p-[30px] rounded-[8px] card1 flex flex-row flex-wrap sm:gap[6px] md:gap-sm" *ngIf="!customerDetailsLoader && customerDetails">
          <div class="flex flex-wrap sm:flex-col w-[200px]">
            <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Customer Name :</span>
            <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{customerDetails.firstName}} {{customerDetails.lastName}}</span>
          </div>
          <div class="flex flex-wrap sm:flex-col w-[200px]">
            <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Email :</span>
            <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{customerDetails.email}}</span>
          </div>
          <div class="flex flex-wrap sm:flex-col w-[200px]">
            <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Phone Number :</span>
            <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{customerDetails.mobileNumber}}</span>
          </div>
          <div class="flex flex-wrap sm:flex-col w-[200px]">
            <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Loan Type :</span>
            <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{customerDetails.loanType}}</span>
          </div>
          <div class="flex flex-wrap sm:flex-col w-[200px]">
            <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Loan Category :</span>
            <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{customerDetails.loanFor}}</span>
          </div>
          <div class="flex flex-wrap sm:flex-col w-[200px]">
            <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Loan description :</span>
            <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{!customerDetails.description ? 'NA' : customerDetails.description}}</span>
          </div>
          <div class="flex flex-wrap sm:flex-col w-[200px]">
            <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Loan Amount :</span>
            <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{customerDetails.loanAmount}}</span>
          </div>
  
          <div class="flex flex-wrap sm:flex-col w-[200px]">
            <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Remarks :</span>
            <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{!customerDetails.remarks ? 'NA' : customerDetails.remarks}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-lg">
      <h1 class="text-md font-bold">Update Loan Details:</h1>
      <div class="border-[2px] w-full border-solid border-[#e8edfa] sm:p-[12px] lg:p-[30px] rounded-[8px] card1 flex flex-row flex-wrap sm:gap[6px] md:gap-sm" *ngIf="!customerDetailsLoader && loanDetails">
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Maximum Loan Amount Offered :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{loanDetails.maxLoanAmount}}</span>
        </div>
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Rate Of Interest :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{loanDetails.rateOfInterest}}</span>
        </div>
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Maximum Loan Tenure :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{loanDetails.maxLoanTenure}}</span>
        </div>
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">EMI per month :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{loanDetails.emiPerMonth}}</span>
        </div>
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Maximum FOIR :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{loanDetails.maxFoir}}</span>
        </div>
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Processing Fee :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{!loanDetails.processingFee}}</span>
        </div>
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Other Charges :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{loanDetails.otherCharges}}</span>
        </div>

        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Proposal to the client:</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{!loanDetails.advantage ? 'NA' : loanDetails.advantage}}</span>
        </div>
      </div>
    </div>
</div>

<ng-template #alertPopupContentTemplate let-data="data">
  <div class="alert alert-warning flex flex-col gap-md h-[230px]">
    <div class="w-full">
      <div class="text-md font-bold">
        You status will be updated as {{data}}
      </div>
    </div>
  </div>
</ng-template>
  
<ng-template #alertContentTemplate>
  <div class="alert alert-danger flex flex-col gap-md h-[230px]">
    <div class="text-md font-bold">Are you sure want to reject this loan?</div>
    <div class="w-full">
      <div>
        <label class="text-sm">Reason For Rejection (Optional): </label>
        <textarea
          class="theme-text-area"
          [(ngModel)]="loanRejectionReason"
        ></textarea>
      </div>
    </div>
  </div>
</ng-template>
