<div class="py-[36px]">
  <div class="h-[32px] py-[10px] px-[12px] bg-[#e8edfa] w-fit flex items-center justify-center rounded-[4px] mb-[14px] cursor-pointer dark:bg-[#2D4048] dark:border-[1px] dark:border-solid dark:border-[#2FC0FF]" (click)="back()">
    <span class="text-[#2054ff] text-[14px] font-[500] leading-[24px] dark:text-[#2FC0FF]">< Back</span>
  </div>
  <div class="flex flex-wrap justify-between sm:items-start md:items-center gap-[12px] sm:flex-col md:flex-row">
    <span class="text-[26px] w-fit leading-[26px] font-[500] text-[#090d1b] dark:text-white">
      Loan Detail
    </span>
    <div class="h-[32px] py-[10px] px-[12px] bg-[#e8edfa] w-fit flex items-center justify-center rounded-[4px] mb-[14px] cursor-pointer gap-[8px] dark:bg-[#2D4048] dark:border-[1px] dark:border-solid dark:border-[#2FC0FF]" (click)="refresh()">
      <div class="w-[12px] h-[12px]">
        <svg viewBox="0 0 36 36" class="dark:stroke-[#2FC0FF] dark:fill-[#2FC0FF] stroke-[#2054ff] fill-[#2054ff]" xmlns="http://www.w3.org/2000/svg"><path d="M22.4,11.65a1.09,1.09,0,0,0,1.09,1.09H34.43V1.81a1.09,1.09,0,1,0-2.19,0V8.95a16.41,16.41,0,1,0,1.47,15.86,1.12,1.12,0,0,0-2.05-.9,14.18,14.18,0,1,1-1.05-13.36H23.5A1.09,1.09,0,0,0,22.4,11.65Z"></path></svg>
      </div>
      <span class="text-[#2054ff] text-[14px] font-[500] leading-[24px] dark:text-[#2FC0FF]">Refresh</span>
    </div>
  </div>
  <div class="flex flex-col flex-wrap md:mt-[24px]">
    <div class="md:mt-[20px] lg:min-w-[420px]">
      <div class="border-[2px] h-full w-full border-solid border-[#e8edfa] sm:p-[12px] lg:p-[30px] rounded-[8px] card1" *ngIf="customerDetailsLoader">
        <div id="pause-grid-loader" class="flex items-center justify-center">
          <div id="spinner-grid-loader"></div>
        </div>
      </div>
      <div class="border-[2px] w-full border-solid border-[#e8edfa] sm:p-[12px] lg:p-[30px] rounded-[8px] card1 flex flex-row flex-wrap sm:gap[6px] md:gap-sm" *ngIf="!customerDetailsLoader && customerDetails">
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Customer Name :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{customerDetails.firstName}} {{customerDetails.lastName}}</span>
        </div>
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Email :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{customerDetails.email}}</span>
        </div>
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Phone Number :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{customerDetails.mobileNumber}}</span>
        </div>
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Loan Type :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{customerDetails.loanType}}</span>
        </div>
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Loan Category :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{customerDetails.loanFor}}</span>
        </div>
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Loan description :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{!customerDetails.description ? 'NA' : customerDetails.description}}</span>
        </div>
        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Loan Amount :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{customerDetails.loanAmount}}</span>
        </div>

        <div class="flex flex-wrap sm:flex-col w-[200px]">
          <span class="text-[14px] text-[#090d1b] min-w-[110px] dark:text-white font-bold">Remarks :</span>
          <span class="text-[14px] font-[400] text-[#586064] dark:text-white sm:p-[8px] md:p-0 !pl-sm">{{!customerDetails.remarks ? 'NA' : customerDetails.remarks}}</span>
        </div>
      </div>
    </div>
    <div class="sm:mt-[20px] md:pt-md lg:mt-0 lg:min-w-[520px] rounded-[8px] card1 lg:w-[60%] flex flex-col gap-[8px]">
      <div class="min-w-[500px] relative">
        <div>
          <!-- <div class="text-md font-semibold pb-[28px] dark:text-white">Level 1:</div> -->
          <div class="w-full flex pt-[18px] pl-[24px]">
            <div class="relative flex flex-col gap-[18px] grow" [ngClass]="{'ml-[-3px]': i > 0}" *ngFor="let stage of levelOne; let i=index">
              <div class="text-sm text-[#090d1b] font-semibold rotate-[-25deg] mb-[22px] dark:text-white">{{stage.label}}</div>
              <div class="flex relative">
                <div class="absolute w-[16px] h-[16px] top-[-2px] rounded-full" [ngClass]="stage.isCompleted ? 'bg-green-dark' : 'bg-gray-300'"></div>
                <div class="w-full rounded-l-full grow h-[12px]" [ngClass]="stage.isCompleted ? 'bg-green-2' : 'bg-[#d1d5db8c]'" *ngIf="(levelOne.length - 1) !== i"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-lg">
    <app-server-side-grid
      [config]="gridConfig"
      [isLoading]="gridLoading"
      (getFilters)="onGridAction($event)"
      (getSortValue)="onGridAction($event)"
      (getPreviousPage)="onGridAction($event)"
      (getNextPage)="onGridAction($event)"
      (getPageSize)="onGridAction($event)"
      (onGridRefresh)="onGridAction($event)"
    ></app-server-side-grid>
  </div>
</div>

<ng-template #actionOnProposalTemplate let-data="data">
  
  <div class="flex gap-sm" *ngIf="data?.loanStatus?.toLowerCase() === 'details updated'">
    <app-button [button]="rejectBtnConfig" (buttonClicked)="openRejectProposalPopup(data)"></app-button>
    <app-button [button]="acceptBtnConfig" (buttonClicked)="openAcceptProposalPopup(data)"></app-button>
  </div>
  <div *ngIf="data?.loanStatus?.toLowerCase() !== 'details updated'">
    {{data.loanStatus?.toLowerCase()}}
  </div>
</ng-template>


<ng-template #alertAcceptContentTemplate let-data="data">
  <div class="alert alert-warning flex flex-col gap-md h-[230px]">
    <div class="w-full">
      <div>
        <label class="text-sm">Type "accept" in below input field.</label>
        <input
          class="theme-input mt-xs"
          autocomplete="off" type="text"
          [(ngModel)]="confirmationText"
        />
      </div>
    </div>
  </div>
</ng-template>

<ng-template #alertAcceptActionTemplate let-data="data">
  <div class="flex gap-sm flex-wrap justify-end">
    <button class="tertiary" (click)="dialog.closeAll()">Cancel</button>
    <button
      class="primary"
      [disabled]="confirmationText.toLowerCase() === 'accept' ? null : true"
      (click)="acceptBankerProposal(data)"
    >Confirm</button>
  </div>
</ng-template>

<ng-template #alertRejectContentTemplate let-data="data">
  <div class="alert alert-warning flex flex-col gap-md h-[230px]">
    <div class="w-full">
      <div>
        <label class="text-sm">Type "reject" in below input field.</label>
        <input
          class="theme-input mt-xs"
          autocomplete="off" type="text"
          [(ngModel)]="confirmationText"
        />
      </div>
    </div>
  </div>
</ng-template>

<ng-template #alertRejectActionTemplate let-data="data">
  <div class="flex gap-sm flex-wrap justify-end">
    <button class="tertiary" (click)="dialog.closeAll()">Cancel</button>
    <button
      class="primary"
      [disabled]="confirmationText.toLowerCase() === 'reject' ? null : true"
      (click)="recjectProposal(data)"
    >Confirm</button>
  </div>
</ng-template>
