<div class="min-w-[270px] sm:min-w-[550px] sm:p-lg max-h-[80vh] max-w-[90vw]">
    <div class="flex flex-col justify-between" *ngIf="!isAssignmentSuccess">
      <h2 class="text-lg font-semibold">Assign Banker:</h2>
      <div>
        <form class="flex gap-md flex-wrap" [formGroup]="assignBanker">
          <div class="flex flex-col gap-sm w-full">
            <div>
              <label class="text-sm">Bank: </label>
              <div class="mt-xs">
                <select matNativeControl formControlName="bank" class="theme-select" (change)="onBankChange($event)">
                  <option value="" selected>Select Bank</option>
                  <option [value]="bank.bankName" *ngFor="let bank of banksList">{{bank.bankName}}</option>
                </select>
              </div>
              <div class="pt-xs text-red-dark text-xs" *ngIf="assignBanker.get('bank').touched && assignBanker.get('bank').errors">
                <div *ngIf="assignBanker.get('bank').hasError('required')">Bank is required.</div>
              </div>
            </div>

            <div>
              <label class="text-sm">Zone: </label>
              <div class="mt-xs">
                <select matNativeControl formControlName="zone" class="theme-select" (change)="onZoneChange($event)">
                  <option value="" selected>Select Zone</option>
                  <option [value]="zone.zone" *ngFor="let zone of zoneList">{{zone.zone}}</option>
                </select>
              </div>
              <div class="pt-xs text-red-dark text-xs" *ngIf="assignBanker.get('zone').touched && assignBanker.get('zone').errors">
                <div *ngIf="assignBanker.get('zone').hasError('required')">Bank is required.</div>
              </div>
            </div>

            <div>
                <label class="text-sm">Banker Name: </label>
                <div class="mt-xs">
                  <select matNativeControl formControlName="bankerId" class="theme-select">
                    <option value="" selected>Select Banker</option>
                    <option [value]="banker.bankerId" *ngFor="let banker of bankersList">{{banker.firstName}} {{banker.lastName}}</option>
                  </select>
                </div>
                <div class="pt-xs text-red-dark text-xs" *ngIf="assignBanker.get('bankerId').touched && assignBanker.get('bankerId').errors">
                  <div *ngIf="assignBanker.get('bankerId').hasError('required')">Banker Name is required.</div>
                </div>
              </div>
              <div>
                <label class="text-sm">Document link: </label>
                <input
                  class="theme-input mt-xs"
                  formControlName="documentLink"
                  autocomplete="off" type="text"
                  placeholder="Enter document link here"
                />
                <div class="pt-xs text-red-dark text-xs" *ngIf="assignBanker.get('documentLink').touched && assignBanker.get('documentLink').errors">
                  <div *ngIf="assignBanker.get('documentLink').hasError('required')">Document link is required.</div>
                  <div *ngIf="assignBanker.get('documentLink').hasError('minlength')">Document link is not valid.</div>
                </div>
              </div>
          </div>
        </form>
      </div>
      <div class="banner-danger" *ngIf="isAssignationFailed">
        {{errorMessage}}
      </div>
      <div class="flex gap-sm flex-wrap mt-md justify-end pb-sm">
        <button class="secondary" (click)="onCancel()">Cancel</button>
        <button class="primary" [disabled]="assignBanker.valid ? null : true" (click)="assignUser()">Submit</button>
      </div>
    </div>
    <div class="bg-green-light font-semibold text-green-dark h-72 rounded-lg flex justify-center items-center" *ngIf="isAssignmentSuccess">
      <div class="flex flex-col justify-center items-center">
        <div>Banker Assigned Successfully.</div>
        <button class="tertiary" (click)="onCancel()">Click here close the window...</button>
      </div>
    </div>
</div>
  