<div class="py-[36px]">
  <div class="flex flex-row justify-between items-baseline">
    <span class="text-[26px] leading-[26px] font-[500] text-[#090d1b] dark:text-white">Orders</span>
    <div class="h-[32px] py-[10px] px-[12px] bg-[#e8edfa] w-fit flex items-center justify-center rounded-[4px] mb-[14px] cursor-pointer gap-[8px] dark:bg-[#2D4048] dark:border-[1px] dark:border-solid dark:border-[#2FC0FF]" (click)="getAllLoanRequests()">
      <div class="w-[12px] h-[12px]">
        <svg viewBox="0 0 36 36" class="dark:stroke-[#2FC0FF] dark:fill-[#2FC0FF] stroke-[#2054ff] fill-[#2054ff]" xmlns="http://www.w3.org/2000/svg"><path d="M22.4,11.65a1.09,1.09,0,0,0,1.09,1.09H34.43V1.81a1.09,1.09,0,1,0-2.19,0V8.95a16.41,16.41,0,1,0,1.47,15.86,1.12,1.12,0,0,0-2.05-.9,14.18,14.18,0,1,1-1.05-13.36H23.5A1.09,1.09,0,0,0,22.4,11.65Z"></path></svg>
      </div>
      <span class="text-[#2054ff] text-[14px] font-[500] leading-[24px] dark:text-[#2FC0FF]">Refresh</span>
    </div>
  </div>
  <div class="mt-[24px]">
    <app-server-side-grid [config]="gridConfig" [isLoading]="gridLoading" (getFilters)="onGridAction($event)"
    (getSortValue)="onGridAction($event)" (getPreviousPage)="onGridAction($event)"
    (getNextPage)="onGridAction($event)" (getPageSize)="onGridAction($event)" (onGridRefresh)="onGridAction($event)"></app-server-side-grid>
  </div>
</div>
  
<ng-template #actionTemplate let-data="data">
  <app-button [button]="manageConfig" class="ml-[12px]" [matMenuTriggerFor]="menu"></app-button>
  <!-- <span *ngIf="(!data.action) || (data.action && data.loanStatus != 'Pending')" class="text-[13px] leading-[16px] text-[#21333b] dark:text-[white] text-left text-nowra ml-[12px]">NA</span> -->
  <!-- <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
        <div class="flex flex-col gap-[8px] p-[14px] dark:bg-[#1B2B32]">
          <div class="flex flex-row gap-[4px]" (click)="openModal(data.orderId, true)">
            <div class="badge-action-component px-[12px] approve text-[white]">
              {{'Approve'}}

              Application Viewed
              Executive Assigned
              Contacted The Client
              Details Collected
              Cibil Checked
              Contacted Bank
              Sanctioned
              Deposited
            </div>
          </div>
          <div class="flex flex-row gap-[4px]" (click)="openModal(data.orderId, false)">
            <div class="badge-action-component px-[12px] reject">
              {{'Reject'}}
            </div>
          </div>
        </div>
    </ng-template>
  </mat-menu> -->

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
        <div class="flex flex-col gap-[8px] p-[14px] dark:bg-[#1B2B32]">
          <div
            class="flex flex-row gap-[4px] py-sm px-xs bg-slate-100 cursor-pointer text-sm hover:bg-slate-200 rounded justify-center"
            *ngFor="let action of actionList"
            (click)="updateLoanStatus(action, data)"
          >
            {{action}}
          </div>
        </div>
    </ng-template>
  </mat-menu>
</ng-template>

<ng-template #updateBankDetailsTemplate let-data="data">
  <button class="secondary" (click)="updateBankDetails(data)">Update Bank</button>
</ng-template>

<ng-template #popupApproveTemplate let-data="data">
  <div class="m-[10px] max-w-[400px] dark:bg-[#2D4048]">
    <div class="bg-[#edfcfd] border-solid border-[2px] border-[#d0f9f1] rounded-[6px] p-[12px] text-[15px] font-[500] leading-[24px] text-[#495d6e] dark:text-white dark:bg-[#2D4048]">
      Please confirm to approve order {{data}}
    </div>
  </div>
</ng-template>

<ng-template #popupRejectTemplate let-data="data">
  <div class="m-[10px] max-w-[400px] dark:bg-[#2D4048]">
    <div class="bg-[#fcdfdf] border-solid border-[2px] border-[#fcdfdf] rounded-[6px] p-[12px] text-[15px] font-[500] leading-[24px] text-[#495d6e] dark:text-white dark:bg-[#2D4048]">
      Please confirm to reject order {{data}}
    </div>
  </div>
</ng-template>
