<div class="min-w-[270px] sm:min-w-[550px] sm:p-lg max-h-[80vh] max-w-[90vw]">
  <div class="flex flex-col justify-between" *ngIf="!isVerifyMailTriggered">
    <h2 class="text-lg font-semibold">Rsest Password</h2>
    <div>
      <form class="flex gap-md flex-wrap" [formGroup]="resetPassWord">
        <div class="flex flex-col gap-sm">
          <div>
            <label class="text-sm">Enter your registered email id or phone no: </label>
            <input
              class="theme-input mt-xs"
              formControlName="userId"
              autocomplete="off"
              type="text"
              placeholder="Enter your first name"
              (keyup.enter)="resetPassWord.invalid ? '' : onResetPassword()"
            />
            <div class="pt-xs text-red-dark text-xs" *ngIf="resetPassWord.get('userId').touched && resetPassWord.get('userId').errors">
              <div *ngIf="resetPassWord.get('userId').hasError('required')">This field is required</div>
              <div *ngIf="resetPassWord.get('userId').hasError('pattern')">Please enter valid email id or phone no.</div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="banner-danger" *ngIf="isPassResetFailed">
      {{message}}
    </div>
    <div class="flex gap-sm flex-wrap mt-md justify-end pb-sm">
      <button class="secondary" (click)="onCancel()">Cancel</button>
      <button class="primary" [disabled]="!resetPassWord.valid" (click)="onResetPassword()">Reset Password</button>
    </div>
  </div>
  <div class="bg-green-light font-semibold text-green-dark h-72 rounded-lg flex justify-center items-center" *ngIf="isVerifyMailTriggered">
    <div class="flex flex-col justify-center items-center">
      <div class="px-[34px] text-center">{{message}}</div>
      <button class="tertiary" (click)="onCancel()">Go to login...</button>
    </div>
  </div>
</div>
