<div class="w-full flex gap-[4px] pb-[16px] flex-wrap" *ngIf="filterBadgeConfig.length">
  <ng-container *ngFor="let badgeConfig of filterBadgeConfig">
    <app-badge [config]="badgeConfig" (trigger)="removeFilter($event)"></app-badge>
  </ng-container>
</div>
<div class="w-full serverSideGrid relative" [ngClass]="{'selectable': config.isSelectable}" *ngIf="config">
  <div class="overflowAuto rounded-[4px]" #scrollableDiv>
    <table class="w-full">
      <thead>
        <tr class="border-b-[2px] border-neutral-8 bg-[#fafaf9] dark:bg-[#1B2B32]">
          <th class="w-[40px] left-[0px] bg-white dark:bg-[#1B2B32]" *ngIf="config.isSelectable && tableData?.length">
            <div class="flex flex-row cursor-pointer w-full justify-center p-[8px]">
              <input 
               type="checkbox"
               [checked]="allRowSelected"
               [disabled]="disableOverAllCheckBox"
               (change)="allRowSelectionChange($event)"
               class="w-[24px] h-[24px] border-solid border-[1px] border-blue-5 rounded-[3px] cursor-pointer customCheckbox"
              >
            </div>
          </th>
          <th class="left-[0px] bg-[#fafaf9] dark:bg-[#1B2B32] w-[40px]" *ngIf="config.expandableRows">
            <div class="border-r-solid border-r-[1px] border-neutral-8 w-[40px] h-[33px]"></div>
          </th>
          <ng-container *ngFor="let column of config.columns; let i = index">
            <th [ngClass]="{'' : (column.field == filterColumnField)}" class="first:sticky first:left-[0px] first:bg-[#fafaf9] dark:first:bg-[#1B2B32]"> 
              <div class="border-r-[1px] my-[3px] border-neutral-8 min-w-[150px] flex flex-row justify-between py-[8px] pl-[12px]" [ngClass]="{'shadow-tableCol shadow-tableCol2': i==0 && hasHorizontalScroll}">
                <div class="w-full flex flex-row gap-[8px] justify-between h-[16px] pr-[12px]">
                  <div class="flex flex-row gap-[12px]">
                    <span class="text-[13px] text-[#21333b] font-[600] dark:text-[white]">{{column.label}}</span>
                  </div>
                  <div class="flex flex-row gap-[8px] items-end">
                    <div 
                      class="cursor-pointer w-[12px]"
                      [matMenuTriggerFor]="filter"
                      *ngIf="!column.hideFilter"
                      aria-label="Customer" 
                      (menuOpened)="filterMenuChange(column.field)"
                      (menuClosed)="filterMenuChange('')"
                      [matMenuTriggerData]="{option: column}">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" *ngIf="!column.textFilter">
                        <path stroke="#2054FF" class="dark:stroke-[#2ec0ff]" d="M2.667 2h10.666a.667.667 0 0 1 .667.667v1.057c0 .177-.07.346-.195.471L9.528 8.471a.667.667 0 0 0-.195.472v4.203a.667.667 0 0 1-.828.647l-1.334-.334a.666.666 0 0 1-.504-.646v-3.87a.667.667 0 0 0-.196-.472L2.195 4.195A.667.667 0 0 1 2 3.724V2.667A.667.667 0 0 1 2.667 2z" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="#3363FF" class="dark:fill-[#2ec0ff]" xmlns="http://www.w3.org/2000/svg" *ngIf="column.textFilter">
                        <path d="M3.33366 2H14.0003C14.1771 2 14.3467 2.07024 14.4717 2.19526C14.5968 2.32029 14.667 2.48986 14.667 2.66667V3.724C14.667 3.9008 14.5967 4.07034 14.4717 4.19533L10.195 8.47133C10.0702 8.59644 10.0002 8.76597 10.0003 8.94267V13.146C10.0003 13.2473 9.97722 13.3473 9.93277 13.4384C9.88832 13.5295 9.82369 13.6092 9.7438 13.6716C9.66391 13.7339 9.57086 13.7772 9.47172 13.7982C9.37258 13.8192 9.26996 13.8173 9.17166 13.7927L7.83833 13.4593C7.69416 13.4232 7.5662 13.34 7.47476 13.2228C7.38333 13.1056 7.33366 12.9613 7.33366 12.8127V8.94267C7.33362 8.76587 7.26336 8.59633 7.13833 8.47133L2.86166 4.19533C2.73687 4.07023 2.66685 3.9007 2.66699 3.724V2.66667C2.66699 2.48986 2.73723 2.32029 2.86225 2.19526C2.98728 2.07024 3.15685 2 3.33366 2Z" stroke="#2054FF" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div *ngIf="column.isSortable" (click)="onSort(column)">
                      <div [ngSwitch]="column.sortOrder" class="cursor-pointer">
                        <ng-container *ngSwitchCase="sortOrderOptions.ASC">
                          <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="dark:stroke-[#2ec0ff]" d="M11.668 11.6663H1.66797M8.33464 8.33301H1.66797M5.0013 4.99967H1.66797M15.0013 14.9997H1.66797M15.8346 11.6663V3.33301M15.8346 3.33301L18.3346 5.83301M15.8346 3.33301L13.3346 5.83301" stroke="#2054FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </ng-container>
                        <ng-container *ngSwitchCase="sortOrderOptions.DESC">
                          <div>
                            <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path class="dark:stroke-[#2ec0ff]" d="M11.668 8.33333H1.66797M8.33464 11.6667H1.66797M5.0013 15H1.66797M15.0013 5H1.66797M15.8346 8.33333V16.6667M15.8346 16.6667L18.3346 14.1667M15.8346 16.6667L13.3346 14.1667" stroke="#2054FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </div>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="dark:stroke-[#2ec0ff]" d="M6.668 9.333H1.334m4-2.667h-4M4.001 4H1.334m6.667 8H1.334m11.334 1.333V2.667m0 10.666 2-2m-2 2-2-2m2-8.666 2 2m-2-2-2 2" stroke="#2054FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </th>
          </ng-container>
        </tr>
        <ng-container *ngIf="tableData?.length && config.subHeader && !isLoading">
          <tr class="bg-neutral-9 subHeader">
            <td *ngIf="config.isSelectable" class="sticky left-[0px]">
              <div class="flex flex-row gap-[16px] cursor-pointer w-fll justify-center">
                <input 
                 type="checkbox"
                 class="w-[24px] h-[24px] border-solid border-[1px] border-blue-5 rounded-[3px] cursor-pointer invisible"
                >
              </div>
            </td>
            <ng-container *ngFor="let column of config.columns; let i = index">
              <td class="first:bg-neutral-9 first:sticky first:left-[0px]">
                <div class="h-[40px] min-w-[200px] flex flex-row py-[9px]" [ngClass]="column.customClass" [ngClass]="{'shadow-tableCol shadow-tableCol2': i==0 && hasHorizontalScroll}" style="min-width: max-content">
                  <ng-container
                    [ngTemplateOutlet]="column.subHeadercellTemplate? column.subHeadercellTemplate : defaultCellTemplate"
                    [ngTemplateOutletContext]="{data: column.subHeadercellTemplate? config.subHeader : getFieldValue(column.subHeaderfield, config.subHeader), field: column.subHeaderfield}">
                  </ng-container>
                  <ng-template #defaultCellTemplate let-data="data">
                    <div class="flex flex-row px-[12px] min-h-[40px] w-full text-nowrap" [ngClass]="column.customClass">
                      <div class="text-[13px] leading-[16px] text-[#21333b] text-left">{{(!data && column.filterType != 'NUMBER')? '-' : (column.filterType == 'NUMBER' && data == '' && data != '0')? '-' : data}}</div>
                    </div>
                  </ng-template>
                </div>
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </thead>
      <tbody>
        <ng-container *ngIf="tableData?.length && !isLoading">
          <ng-container *ngFor="let data of tableData">
            <tr class="border-t-[1px] last:border-b-[2px] last:border-neutral-8 dark:bg-[#21333B]">
              <td *ngIf="config.isSelectable" class="sticky left-[0px] bg-white z-10">
                <div class="flex flex-row gap-[16px] cursor-pointer w-fll justify-center p-[8px]">
                  <input 
                   type="checkbox"
                   [checked]="data.checked"
                   [disabled]="data.disableCheckbox"
                   (change)="rowSelectionChange(data, $event)"
                   class="w-[24px] h-[24px] border-solid border-[1px] border-blue-5 rounded-[3px] cursor-pointer customCheckbox"
                  >
                </div>
              </td>
              <td *ngIf="config.expandableRows" class="border-t-[1px] last:border-b-[2px] last:border-neutral-8 dark:bg-[#21333B]">
                <div (click)="changeExpand(data)" class="flex justify-center border-r-solid border-r-[1px] border-neutral-8 w-[40px] h-[33px] items-center cursor-pointer">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-[20px] h-[20px] rotate-[270deg]" [ngClass]="{'rotate-[360deg]' :data.showSubrow}" *ngIf="data.data?.length">
                    <path d="M5 7.5L10 12.5L15 7.5" class="dark:stroke-[#2ec0ff]" stroke="#2054ff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </td>
              <ng-container *ngFor="let column of config.columns; let i = index">
                <td class="first:sticky first:z-10 first:left-[0px] p-[0px] z-10 bg-white dark:bg-[#1B2B32]">
                  <div class="min-h-[42px] flex" [ngClass]="{'shadow-tableCol shadow-tableCol2': i==0 && hasHorizontalScroll}" *ngIf="!column.isContentBadge" style="min-width: max-content;">
                    <div class="flex flex-row items-center w-full {{column.customClass}}">
                      <!-- <img src="../../../../assets/icons/arrow.svg" *ngIf="data.data?.length && column.rowSpecifier" [ngClass]="{'rotate-[180deg]' :data.showSubrow}"> -->
                      <ng-container
                        [ngTemplateOutlet]="column.cellTemplate? column.cellTemplate : defaultCellTemplate"
                        [ngTemplateOutletContext]="{
                          data: column.cellTemplate? data : getFieldValue(column.field, data), field: column.field
                        }">
                      </ng-container>
                      <ng-template #defaultCellTemplate let-data="data">
                        <div class="flex flex-row py-[9px] px-[12px] w-full text-nowrap" [ngClass]="column.customClass">
                          <div class="text-[13px] leading-[16px] text-[#21333b] text-left dark:text-[white]">{{(!data && column.filterType != 'NUMBER')? '-' : (column.filterType == 'NUMBER' && data == '' && data != '0')? '-' : data}}</div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                  <div *ngIf="column.isContentBadge" class="px-[12px] z-1">
                    <ng-container *ngIf="getBadgeConfig(column.field, data, column.loader)">
                      <app-badge [config]="getBadgeConfig(column.field, data, column.loader)"></app-badge>
                    </ng-container>
                    <div class="flex justify-center" *ngIf="!getBadgeConfig(column.field, data, column.loader)">
                      <mat-spinner [diameter]="15" [color]="'#2054FF'"></mat-spinner>
                    </div>
                  </div>
                </td>
              </ng-container>
            </tr>
            <ng-container *ngFor="let subData of data?.data">
              <tr class="border-t-[1px] last:border-b-[2px] last:border-neutral-8" *ngIf="data.showSubrow">
                <td *ngIf="config.isSelectable" class="sticky left-[0px]">
                  <div class="flex flex-row gap-[16px] cursor-pointer w-fll justify-center">
                    <input 
                     type="checkbox"
                     [checked]="subData.checked"
                     [disabled]="subData.disableCheckbox"
                     (change)="subRowSelectionChange(subData, $event, data)"
                     class="w-[24px] h-[24px] border-solid border-[1px] border-blue-5 rounded-[3px] cursor-pointer customCheckbox"
                    >
                  </div>
                </td>
                <td *ngIf="config.expandableRows" class="border-t-[1px] last:border-b-[2px] last:border-neutral-8 dark:bg-[#21333B]">
                  <div class="flex justify-center border-r-solid border-r-[1px] border-neutral-8 w-[40px] h-[33px] items-center">
                    <!-- <img src="../../../../assets/icons/arrow.svg" class="w-[20px] h-[20px] rotate-[270deg]" [ngClass]="{'rotate-[360deg]' :data.showSubrow}"> -->
                  </div>
                </td>
                <ng-container *ngFor="let column of config.columns">
                  <td class="first:sticky first:z-10 first:left-[0px] p-[0px] z-10">
                    <div class="min-h-[40px] min-w-[200px] flex" *ngIf="!column.isContentBadge" [ngClass]="{'pl-[8px]': column.rowSpecifier}">
                      <div class="flex flex-row items-center w-full" [ngClass]="column.customClass">
                        <div class="w-[20px] h-[20px] flex justify-center items-center" *ngIf="column.rowSpecifier">
                          <div class="w-[6px] h-[6px] rounded-[6px] bg-neutral-7"></div>
                        </div>
                        <ng-container
                          [ngTemplateOutlet]="column.subRowcellTemplate? column.subRowcellTemplate : defaultCellTemplate"
                          [ngTemplateOutletContext]="{
                            data: column.subRowcellTemplate? subData : getFieldValue(column.subRowField, subData), field: column.subRowField
                        }">
                        </ng-container>
                        <ng-template #defaultCellTemplate let-data="data">
                          <div class="px-[12px] flex w-full" [ngClass]="column.customClass">
                            <div class="text-[13px] leading-[16px] text-[#21333b] text-left text-nowrap dark:text-[white]">{{(!data && column.filterType != 'NUMBER')? '-' : (column.filterType == 'NUMBER' && data == '' && data != '0')? '-' : data}}</div>
                          </div>
                        </ng-template>
                        <!-- <span class="text-base-4 leading-[1.71] text-neutral-1 text-left">{{getFieldValue(column.field, subData)}}</span> -->
                      </div>
                    </div>
                    <div *ngIf="column.isContentBadge" class="px-[12px]">
                      <ng-container *ngIf="getBadgeConfig(column.field, subData, column.loader)">
                        <app-badge [config]="getBadgeConfig(column.field, subData, column.loader)"></app-badge>
                      </ng-container>
                      <div class="flex justify-center" *ngIf="!getBadgeConfig(column.field, subData, column.loader)">
                        <mat-spinner [diameter]="15" [color]="'#2054FF'"></mat-spinner>
                      </div>
                    </div>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </tbody>
      <div *ngIf="!isLoading && !tableData?.length" class="h-[336px]"></div>
    </table>
  </div>
  <ng-container *ngIf="isLoading">
    <div class="h-[336px] w-full border-b-[2px] border-neutral-8 bg-neutral-15">
      <div class="flex flex-row items-center justify-center w-full h-full">
        <div id="pause-grid-loader" class="flex items-center justify-center">
          <div id="spinner-grid-loader"></div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!tableData?.length && !isLoading">
    <div class="flex flex-row items-center justify-center absolute top-[45px] border-b-[2px] border-neutral-8 h-[336px] w-[100%]">
      <app-error-state [config]="config.isFiltered? emptyStateWithFilterConfig : emptyStateConfig"></app-error-state>
    </div>
  </ng-container>
  <div class="h-[42px] w-full flex flex-row justify-end px-[16px] items-center gap-[20px] bg-[#fafaf9] dark:bg-[#1B2B32]">
    <div class="flex flex-row gap-[8px] px-[4px] py-[2px] items-center" *ngIf="config.total > 10">
      <span class="h-[16px] text-sm text-neutral-2 text-left dark:text-[white]">{{sourceL10.LABELS.PER_PAGE}}:</span>
      <div class="flex flex-row items-center cursor-pointer" [matMenuTriggerFor]="pagable"  #p="matMenuTrigger" >
        <span class="h-[24px] text-base-4 leading-[1.71] font-semibold dark:text-[white]">{{selectedPageSize}}</span>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotate-[270deg]" [ngClass]="{'rotate-[90deg]' : p.menuOpen}"  aria-colspan="fill-primary-1">
          <path class="dark:stroke-[#2ec0ff]" d="M12.5 5L7.5 10L12.5 15" stroke="#2054FF" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    <mat-divider [vertical]="true" class="w-[1px] h-[16px] border-solid border-neutral-8" *ngIf="config.total > 10"></mat-divider>
    <div class="flex flex-row gap-[8px] p-[4px] items-center">
      <span class="h-[16px] text-sm text-neutral-2 text-left dark:text-[white]">{{sourceL10.LABELS.TOTAL}}:</span>
      <span class="h-[24px] text-base-4 leading-[1.71] font-semibold dark:text-[white]">{{config.total}}</span>
    </div>
    <mat-divider [vertical]="true" class="w-[1px] h-[16px] border-solid border-neutral-8" *ngIf="config.total > 10"></mat-divider>
    <div class="h-[24px] flex flex-row gap-[8px] items-center" *ngIf="config.total > 10">
      <div class="flex flex-row gap-[2px] p-[2px]">
        <div class="rounded-[3px]" (click)="onPreviousPage(config.pageNumber, actionType.FAST_BACKWARD)">
          <img src="../../../../assets/icons/arrow-double-grey.svg" *ngIf="config.pageNumber > totalPageCount || config.pageNumber == 1">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="cursor-pointer" *ngIf="config.pageNumber <= totalPageCount && config.pageNumber != 1">
            <path class="dark:stroke-[#2ec0ff]" d="m9.168 5-5 5 5 5m6.667-10-5 5 5 5" stroke="#2054ff" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="rounded-[3px]" (click)="onPreviousPage(config.pageNumber, actionType.BACK)">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotate-[90deg] cursor-pointer" *ngIf="config.pageNumber <= totalPageCount && config.pageNumber != 1">
            <path class="dark:stroke-[#2ec0ff]" d="M5 7.5L10 12.5L15 7.5" stroke="#2054ff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <img src="../../../../assets/icons/arrow-grey.svg" class="rotate-[180deg]" *ngIf="config.pageNumber > totalPageCount || config.pageNumber == 1">
        </div>
      </div>
      <div class="flex flex-row gap-[4px] items-center text-base-4 leading-[1.14] text-left text-neutral-1">
        <input 
         type="number" 
         class="w-[30px] h-[24px] py-[12px] px-[3px] border-solid border-[1px] border-neutral-7 rounded-[3px] text-center no-spin dark:bg-[#1B2B32] dark:text-[white]"
         [(ngModel)]="config.pageNumber"
         (blur)="selectPageNo($event)" 
         (keyup.enter)="selectPageNo($event)">
        <div class="flex">
          <span class="dark:text-[white]">/ {{totalPageCount}}</span>
        </div>
      </div>
      <div class="flex flex-row gap-[2px] p-[2px]">
        <div class="rounded-[3px]" (click)="onNextPage(config.pageNumber, actionType.NEXT)">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotate-[270deg] cursor-pointer" *ngIf="config.pageNumber < totalPageCount">
            <path class="dark:stroke-[#2ec0ff]" d="M5 7.5L10 12.5L15 7.5" stroke="#2054ff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <img src="../../../../assets/icons/arrow-grey.svg" *ngIf="config.pageNumber >= totalPageCount">
        </div>
        <div class="rounded-[3px]" (click)="onNextPage(config.pageNumber, actionType.FAST_FORWARD)">
          <img src="../../../../assets/icons/arrow-double-grey.svg" class="rotate-180" *ngIf="config.pageNumber >= totalPageCount">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotate-180 cursor-pointer" *ngIf="config.pageNumber < totalPageCount">
            <path class="dark:stroke-[#2ec0ff]" d="m9.168 5-5 5 5 5m6.667-10-5 5 5 5" stroke="#2054ff" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-menu #filter="matMenu" xPosition="before">
  <ng-template matMenuContent let-data="option">
    <ng-container *ngIf="data.filterType == GRID_FILTER_TYPE.STRING || data.filterType == GRID_FILTER_TYPE.NUMBER">
      <div class="min-h-[72px] w-[256px] p-[12px] rounded-[6px] flex flex-col gap-[8px] dark:bg-[#1B2B32]" (click)="$event.stopPropagation();">
        <span class="h-[16px] text-[12px] leading-[1.33] text-left text-neutral-6 dark:text-[white]" *ngIf="data.filterType != GRID_FILTER_TYPE.NUMBER">{{sourceL10.LABELS.CONTAINS}}</span>
        <div 
          *ngIf="data.filterType == GRID_FILTER_TYPE.NUMBER" 
          class="h-[20px] flex flex-row gap-[4px] items-center cursor-pointer w-fit"
          [matMenuTriggerFor]="numberFilter"
          #numberFilterMenuTrigger="matMenuTrigger"
          [matMenuTriggerData]="{data: data}">
          <span class="h-[16px] text-[12px] leading-[1.33] text-left text-neutral-6 dark:text-[white]">{{data.numericFilter.label}}</span>
          <img src="../../../../assets/icons/arrow.svg" alt="arrow-icon" [ngClass]="{'rotate-[180deg]' : numberFilterMenuTrigger.menuOpen}">
        </div>
        <div class="h-[32px]">
          <app-input-text [inputConfig]="searchInputConfig" [columnFilterField]="data" [value]="data.textFilter" (valueChange)="onFilterTextChange($event)"></app-input-text>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="data.filterType == GRID_FILTER_TYPE.CHECKBOX">
      <div class="w-[256px] p-[12px] rounded-[6px] flex flex-col gap-[8px] dark:bg-[#1B2B32]" (click)="$event.stopPropagation();">
        <span class="h-[16px] text-[12px] leading-[1.33] text-left text-neutral-6 dark:text-[white]">{{sourceL10.LABELS.IS}}</span>
        <app-input-checkbox [items]="data.checkboxFilterOptions" [columnFilterField]="data" (valueChange)="onFilterCheckChange($event)"></app-input-checkbox>
      </div>
    </ng-container>
  </ng-template>
</mat-menu>

<mat-menu #pagable="matMenu">
  <ng-template matMenuContent>
    <div class="p-[12px] rounded-[6px] dark:bg-[#1B2B32]">
      <ng-container *ngFor="let data of config.pageSizeOptionsConfig.sizeOptions">
        <div 
          class="h-[28px] flex flex-row gap-[12px] py-[8px] px-[6px] rounded-[4px] cursor-pointer hover:bg-neutral-8 dark:hover:bg-[#4F6169] items-center"
          [ngClass]="{'bg-neutral-7 dark:bg-[#21333B] border-solid border-[1px] border-[#4F6169]' : (data == selectedPageSize)}"
          (click)="pageSizeChange(data)">
          <span class="text-xs leading-[1.33] text-black-2 dark:text-[white]">{{data}} {{sourceL10.LABELS.PER_PAGE}}</span>
        </div>
      </ng-container>
    </div>
  </ng-template>
</mat-menu>

<mat-menu #numberFilter="matMenu">
  <ng-template matMenuContent let-data="data">
    <div class="w-[200px] p-[12px] dark:bg-[#1B2B32]" (click)="$event.stopPropagation();">
      <ng-container *ngFor="let filter of numericFilters">
        <div 
          class="h-[28px] flex flex-row gap-[12px] py-[8px] px-[6px] rounded-[4px] cursor-pointer hover:bg-neutral-8 dark:hover:bg-[#4F6169] items-center" 
          [ngClass]="{'bg-neutral-7 dark:bg-[#21333B] border-solid border-[1px] border-[#4F6169]' : (data.numericFilter == filter)}"
          (click)="changeNumericFilterType(filter, data)">
          <span class="text-[12px] leading-[1.33] text-black-2 dark:text-[white]">{{filter.label}}</span>
        </div>
      </ng-container>
    </div>
  </ng-template>
</mat-menu>

